
  $red-1: #a75353;
  $red-2 : #b37e7e;
$red-3 : #f1d6d6;
 $red-4 :#552929;
 $red-6 : rgb(250, 234, 234); 
 $yellow-1: rgb(238, 228, 211);
$yellow-2: #cca572;
$yellow-3: #ecd8bf;
$yellow-4: #d1cbb7;
$red-5: #8f6363;
$red-7:#8b0000;
$red-8:#8b3131;