
@import './variables' ;
@import './reg&log';
@import './mixins';

    
  /**profile nour**/

  .student-profile {
    @include background-color($red-6);
    padding-left: 0px;
    h3 {
      margin-top: 150px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-right: 250px;
      margin-left: 250px;
      color: #fff0f0;
      @include background-color($red-2);
      border-radius: 40px;
      line-height: 50px;
    }
    .card {
      border-radius: 10px;
      @include background-color($red-3);
      margin-right: 70px;
      margin-top: 50px;
      margin-bottom: 50px;
      .card-header {
        .profile-img {
          width: 300px;
          height: 300px;
          object-fit: cover;
          margin: 10px auto;
          border: 10px solid $red-2;
          border-radius: 50%;
        }
        h2 {
          font-size: 25px;
          color: $red-4;
        }
        .svg-inline--fa {
          padding-left: 20px;
          font-size: 60px;
          padding-top: 20px;
        }
      }
      p {
        font-size: 16px;
        color: $red-5;
        padding-right: 10px;
      }
      span {
        font-size: 20px;
        color: $red-4;
        text-align: center;
      }
      .card-body {
        table {
          tr {
            th {
              color: $red-4;
            }
            td {
              color: $red-5;
            }
          }
        }
      }
    }
    .card.id {
      margin-left: 90px;
      margin-right: 120px;
      margin-top: 90px;
      width: 700px;
    }
  }
  .grades {
    @include background-color($red-6);
    padding-left: 0px;
    .card {
      border-radius: 10px;
      @include background-color($red-3);
      margin-right: 70px;
      margin-left: 70px;
      margin-top: 50px;
      margin-bottom: 70px;
      h2 {
        font-size: 25px;
      }
      .card-body {
        .table-bordered {
          border-color: #dd8181;
        }
      }
    }
    .card.grades {
      .card-body {
        .table-bordered {
          thead {
            th {
              border-width: 3px;
              border-color: #d4a8a8;
              @include background-color($red-2);
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .advice {
    @include background-color($red-6);
    padding-left: 0px;
    padding-bottom: 50px;
    .success-header {
      h3 {
        border-bottom: 2px solid #ac6565;
        padding-bottom: 20px;
        margin-right: 400px;
        margin-left: 400px;
      }
    }
    .success-regular {
      .success-intro {
        margin: 30px 120px;
        @include background-color($red-3);
        border-radius: 20px;
        padding: 20px 20px;
      }
      .success-text {
        .svg-inline--fa {
          margin-left: 15px;
          color: #d1b7b7;
        }
        h4 {
          @include background-color($red-2);
          margin-left: 680px;
          margin-top: 50px;
          padding-right: 40px;
          padding-top: 20px;
          padding-bottom: 20px;
          border-radius: 20px;
          color: #f5e5e5;
        }
        p {
          margin-top: 50px;
          margin-bottom: 50px;
          margin-right: 15px;
        }
      }
    }
  }
  .table-bordered {
    td {
      border-color: #dd8181;
    }
    th {
      border-color: #dd8181;
    }
  }
  

  /**profile omar**/
  .student1-profile {
    @include background-color($yellow-1);
    padding-left: 0px;
    h3 {
      margin-top: 150px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-right: 250px;
      margin-left: 250px;
      color: $red-8;
      @include background-color($yellow-2);
      border-radius: 40px;
      line-height: 50px;
    }
    .card {
      border-radius: 10px;
       @include background-color($yellow-3);
      margin-right: 70px;
      margin-top: 50px;
      margin-bottom: 50px;
      .card-header {
        .profile-img {
          width: 300px;
          height: 300px;
          object-fit: cover;
          margin: 10px auto;
          border: 10px solid $yellow-2;
          border-radius: 50%;
        }
        h2 {
          font-size: 25px;
          color: $red-4;
        }
        .svg-inline--fa {
          padding-left: 20px;
          font-size: 60px;
          padding-top: 20px;
        }
      }
      p {
        font-size: 16px;
        color: $red-5;
        padding-right: 10px;
      }
      span {
        font-size: 20px;
        color: $red-4;
        text-align: center;
      }
      .card-body {
        table {
          tr {
            th {
              color: $red-4;
            }
          }
        }
      }
    }
    .card.id {
      margin-left: 90px;
      margin-right: 120px;
      margin-top: 90px;
      width: 700px;
    }
  }
  .grades1 {
    @include background-color($yellow-1); 
    padding-left: 0px;
    .card {
      border-radius: 10px;
      @include background-color($red-3);
      margin-right: 70px;
      margin-left: 70px;
      margin-top: 50px;
      margin-bottom: 70px;
      h2 {
        font-size: 25px;
      }
      .card-body {
        .table-bordered {
          border-color: #ceb390;
        }
      }
    }
    .card.grades {
      .card-body {
        .table-bordered {
          thead {
            th {
              border-width: 3px;
              border-color: #ceb390;
              @include background-color($yellow-2);
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .advice1 {
    @include background-color($yellow-1);
    padding-left: 0px;
    padding-bottom: 50px;
    .success-header {
      h3 {
        border-bottom: 2px solid $yellow-2;
        padding-bottom: 20px;
        margin-right: 400px;
        margin-left: 400px;
      }
    }
    .success-regular {
      .success-intro {
        margin: 30px 120px;
        @include background-color($red-3);
        border-radius: 20px;
        padding: 20px 20px;
      }
      .success-text {
        .svg-inline--fa {
          margin-left: 15px;
          color: $yellow-4;
        }
        h4 {
          @include background-color($yellow-2);
          margin-left: 680px;
          margin-top: 50px;
          padding-right: 40px;
          padding-top: 20px;
          padding-bottom: 20px;
          border-radius: 20px;
          color: $red-8;
        }
        p {
          margin-top: 50px;
          margin-bottom: 50px;
          margin-right: 15px;
        }
      }
    }
  }

  .table-bordered {
    td {
      border-color: #ceb390;
    }
    th {
      border-color: #ceb390;
    }
  }
  